h1 {
    color: #335576;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: #335576;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Greece {
    background-image: url("../assets/Images/greece.jpg");
}



